@charset "UTF-8";
/*doc
---
title: <%= component_name %>
name: <%= _.slugify(component_name) %>
category: <%= styleguide_main_category %> - <%= styleguide_category %>
---

Write your comment here

```html_example
Write your corresponding markup here
```

*/